<!-- start: header -->
<header class="header">
    <div class="row max-inner">

        <div class="columns col-2">
            <a href="/home" title="Indigo" class="logo">Dordoi clothes</a>
        </div>

        <div class="columns col-6">
            <a href="#" class="toggle-nav">
                <i class="fa fa-bars"></i> Menu
            </a>
            <nav class="main-nav">
                <ul>
                    <li><a class="text-shine" id="contact" href="#footer">Contact us</a></li>
                </ul>
            </nav>
        </div>

        <div class="columns col-4">
            <ul class="header-controls">
                <li class="header-actions">
                    <a href="#" title="Log out"><span class="fa fa-lock"></span> Log out</a>
                </li>
            </ul>
        </div>

    </div>
</header>
<!-- end: header -->
