{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller('App\\Controller\\BaseController\\ContentSlider::show')) }}

    <h3 class="inscription">We <span style="color: red">wholesale</span> and also <span style="color: red">sew clothes</span> for individual orders</h3>

    {{ render(controller('App\\Controller\\BaseController\\FeaturedProducts::show')) }}



    <script>window.jQuery || document.write('<script src="src/js/Jquery.js"><\/script>')</script>

    <script src="src/js/plugins.js"></script>
    <script src="src/js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock %}
